.about{
  min-height: 100vh;
  padding: px2rem(50) px2rem(20);
  font-family: $interFont;

  @include breakpoint-up(medium){
    padding: 3.125rem 10% 0 10%;
  }

  @include breakpoint-up(large){
    padding: 0 25%;
  }

  &__title{
    text-align: center;
    font-size: $font-xgiant;
  }

  &__text{
    text-align: center;
    font-size: 1rem;

    @include breakpoint-up(medium){
      text-align: justify;
      font-size: $font-lg;
    }
  }
}