.footer{
  text-align: center;
  font-size: 1rem;
  padding: px2rem(15) 0;
  background-color: $matteBlack-l;

  &__copyright{
    margin-bottom: px2rem(5);
  }

  &__backToTop{
    a{
      color: $gray;
      padding: px2rem(5) px2rem(10);
      font-size: $font-sm;
      text-transform: uppercase;
      background-color: $black;
      border: px2rem(1) solid $gray;
      border-radius: px2rem(50);
    }
  }
}