.header{
  position: fixed;
  top: 0;
  width: 100%;
  min-height: px2rem(50);
  box-shadow: rgba(87, 87, 87, 0.24) 0px 3px 8px;
  z-index: 2;

  nav{
    min-height: inherit;
  }

  &__logo{
    a{
      font-family: $blackOpsFont;
      font-size: $font-giant;
    }
  }

  &__right-side{
    .pipe{
      margin: 0 px2rem(15);
      font-size: $font-xlg;
    }

    .pipe-1{
      display: none;

      @include breakpoint-up(medium){
        display: inline;
      }
    }

    .pipe-2{
      @include breakpoint-up(medium){
        display: none;
      }
    }
  }

  &__menu{
      border: none;
      outline: none;
      background: inherit;
      padding: 0.3125rem;
      cursor: pointer;

      span{
        display: block;
        width: 1.625rem;
        height: 0.125rem;

        &:not(:last-child){
          margin-bottom: 0.25rem;
        }
      }
  }

  &__nav-menu{
    position: fixed;
    width: 65%;
    top: px2rem(55);
    right: -100%;
    border-radius: px2rem(5);
    transition: 0.5s;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-width: px2rem(2);
    border-style: solid;

    @include breakpoint-up(medium){
      position: relative;
      display: inline-block;
      width: auto;
      top: auto;
      right: auto;
      border: none;
      box-shadow: none;
    }

    &.show{
      right: px2rem(-25);
    }
  }

  &__nav-list{
    padding: px2rem(20);

    @include breakpoint-up(medium){
      padding: 0;
    }
  }

  &__nav-item{
    a{
      display: inline-block;
      padding: px2rem(5) px2rem(10);
      font-family: $robotoFont;
      font-weight: bold;
      font-size: $font-med;
      border-radius: px2rem(5);
    }

    @include breakpoint-down(small){
      &:not(:last-child){
        margin-bottom: px2rem(15);
      }
    }
    

    @include breakpoint-up(medium){
      display: inline-block;
    }
  }

  &__mode{
    display: inline-block;
    font-size: $font-xlg;
    padding-top: px2rem(4);
    cursor: pointer;
  }
}