.home{
  min-height: 100vh;

  &__dp{
    width: px2rem(130);
    height: px2rem(130);
    background-repeat: no-repeat;
    background-position: px2rem(-35) 0;
    background-size: 140%;
    border-radius: 50%;

    &.dp{
      background-image: url('../images/abeer.jpg');
    }

    &.neg-dp{
      background-image: url('../images/abeer-neg.jpg');
    }
  }

  &__name{
    text-align: center;
    margin-bottom: px2rem(10);
    line-height: 1.3;
    font-size: px2rem(40);    
    text-transform: uppercase;

    @include breakpoint-up(large){
      font-size: px2rem(50);
    }

    .name-1{
      display: block;
      font-weight: bolder;

      @include breakpoint-up(large){
        display: inline-block;
      }
    }
    .name-2{
      display: block;

      @include breakpoint-up(large){
        display: inline-block;
      }
    }
  }

  &__profession{
    margin-bottom: px2rem(8);
    font-size: $font-lg;

    @include breakpoint-up(large){
      font-size: $font-xlg;
    }
  }

  &__social{
    
    a{
      font-size: $font-giant;

      &:not(:last-child){
        margin-right: px2rem(15);        
      }
    }
  }
}