@import url('https://fonts.googleapis.com/css2?family=Aladin&display=swap');

// Fonts
$aladinFont: 'Aladin', cursive;

// Font-size
$font-sm: 0.875rem; //14px
$font-med: 1.125rem; // 18px
$font-lg: 1.25rem; // 20px
$font-xlg: 1.5rem; // 24px
$font-giant: 1.875rem; // 30px

// Colors
$black: #121212;
$matteBlack: #1c1c1c;
$lightGray: #ededed;
$yellow: #fff37a;