.footer{
  text-align: center;
  font-size: 1rem;
  padding: px2rem(15) 0;

  &__copyright{
    margin-bottom: px2rem(5);
  }

  &__backToTop{
    a{
      padding: px2rem(5) px2rem(10);
      font-size: $font-sm;
      text-transform: uppercase;
      border-width: px2rem(1);
      border-style: solid;
      border-radius: px2rem(50);
    }
  }
}