html{
  font-size: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*, *::before, *::after{
  box-sizing: inherit;
}

body{
  line-height: 1.5;
  letter-spacing: px2rem(0.7);
  margin: 0;
  padding: 0;
  font-family: $interFont;
}

// Colors classes
/*
blackground color = $black, $matteBlack, $matteBlack-l
text color = $gray, $lightGray
*/
// Background colors for dark mode
.black-bg{ background-color: $black;}
.matteBlack-bg{ background-color: $matteBlack;}
.matteBlack-l-bg{ background-color: $matteBlack-l;}
.gray-bg{ background-color: $gray;}
// Text Colors for dark mode 
.gray-tx{ color: $gray;}
.lightGray-tx{ color: $lightGray;}
// Border color for dark mode
.gray-border{ border-color: $gray;}

/*
background color = $white, $matteWhite, $matteWhite-l
text color = $ash, $lightAsh
*/
// Background colors for day mode
.white-bg{ background-color: $white;}
.matteWhite-bg{ background-color: $matteWhite;}
.matteWhite-l-bg{ background-color: $matteWhite-l;}
.ash-bg{ background-color: $ash;}
// Text Colors for day mode 
.ash-tx{ color: $ash;}
.lightAsh-tx{ color: $lightAsh;}
// Border color for day mode
.ash-border{ border-color: $ash;}

// Header Special
.h-dark-bg{ background-color: $hDarkBg;}
.h-day-bg{ background-color: $hDayBg;}

a, a:visited, a:hover{
  text-decoration: none;
}

ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

section{
  z-index: 1;
}

.section{
  padding: 0 px2rem(20);

  @include breakpoint-up(large){
    padding: 0 15%;
  }
}

// Flex
.flex{
  display: flex;

  &-dir-col{
    flex-direction: column;
  }

  &-jc-sb{
    justify-content: space-between;
  }

  &-jc-c{
    justify-content: center;
  }

  &-ai-c{
    align-items: center;
  }
}

// Visibility
.hide-for-mobile{
  @include breakpoint-down(small){
    display: none;
  }
}

.hide-for-tablet{
  @include breakpoint-up(medium){
    display: none;
  }
}