.skills{
  padding: 3.125rem px2rem(20) px2rem(80) px2rem(20);
  min-height: 100vh;
  font-size: 1rem;
  text-align: center;

  @include breakpoint-up(medium){
    font-size: $font-lg;
    padding: 3.125rem 10% px2rem(80) 10%;
  }

  @include breakpoint-up(xlarge){
    font-size: $font-xlg;
  }

  @include breakpoint-up(large){
    padding: 0 15%;
  }
  
  &__title{
    font-size: $font-xgiant;
    margin-bottom: px2rem(50);

    @include breakpoint-up(medium){
      margin-bottom: px2rem(70);
    }
  }

  &__box{
    position: relative;
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas: 
        "lang"
        "frame"
        "tools";
    justify-content: space-around;
    padding: px2rem(40);
    border-width: px2rem(2);
    border-style: solid;
    // border-color: $gray;//cul
    border-radius: px2rem(15);

    @include breakpoint-up(medium){
      grid-template-columns: 45% 45%;
      grid-template-areas: 
        'lang frame'
        'tools tools'
      ;
      grid-gap: px2rem(10);
    }

    @include breakpoint-up(large){
      grid-template-columns: 30% 30% 30%;
      grid-template-areas: 
        "lang frame tools"
      ;
      grid-gap: px2rem(10);
      border-radius: px2rem(40);
    }

    @include breakpoint-up(xlarge){
      padding: px2rem(60);
    }

    > div{
      
      &:not(:last-child){
        padding: px2rem(10);
        margin-bottom: px2rem(20);
        border-radius: px2rem(10);
      }

      @include breakpoint-up(medium){
        &:not(:last-child){
          padding: px2rem(20);
        }
      }

      @include breakpoint-up(xlarge){
        &:not(:last-child){
          padding: px2rem(40);
        }
      }

      h2{
        line-height: 1;
        font-size: $font-xlg;
        margin-bottom: px2rem(10);

        @include breakpoint-up(xlarge){
          font-size: $font-giant;
        }
      }
    }
  }

  &__languages{ grid-area: lang; }
  &__frameworks{ grid-area: frame; }
  &__tools{ grid-area: tools; }

  &__explanation{
    position: absolute;
    left: 0;
    right: 0;
    font-size: $font-med;
    bottom: px2rem(5);

    @include breakpoint-up(xlarge){
      bottom: px2rem(10);
    }

    button{
      padding: px2rem(5) px2rem(10);
      text-transform: uppercase;
      border-width: px2rem(1);
      border-style: solid;
      border-radius: px2rem(50);
    }
  }
}